<%= form_for @user do |f| %>
	<div class="column one-half">
		<p>
		  <h2>Username
			<%= f.text_field :username %>
			</h2>
		</p>
		<p>
			<h2>E-Mail
			<%= f.email_field :email %>
			</h2>
		</p>
		<p>
			<h2>Password
			<%= f.password_field :password %>
			</h2>
		</p>
		<p>
		  </br>
			<%= f.submit(@user.new_record? ? "Sign Up" : "Update your Account") %>
		</p>
		<% end %>
	</div>
	</div>
	</div>
</html>
